<div class="bordered">
<center>
<ul class="list-group" style='width: 50%'>
<form id="task-form" >  
<div class="form-group">
    <input type="text" name="title" id="title" tabindex="1" class="form-control" placeholder="Title" value=<%= @task.title %>>
  </div>
     <div class="form-group">
         <input type="text" name="description" id="description" tabindex="2" class="form-control" placeholder="Description" value=<%= @task.description %> >
    </div>
    <div class="form-group">
      <input type="date" name="duedate" id="duedate" tabindex="3" class="form-control" value=<%= @task.duedate %>>
    </div>
    <div class="form-group">
      <input type="number" name="priority" id="priority" tabindex="4" class="form-control" value=<%= @task.priority %>>
    </div>
    <div class="form-group">
      <input type="checkbox" name="done" id="done" tabindex="5" class="form-control" <%= @task.done ? 'checked' : nil %>>
    </div>
	<div class="form-group">
	  <div class="row">
	    <div class="col-sm-6 col-sm-offset-3">
			<center><input type='button' class="btn btn-info" name="task-submit" id="task-submit" onClick='Update()' tabindex="4" value='Update'></center>
	    </div>
	  </div>
    </div>
    <h3 id='errors'> </h3>
</form>
</ul>
</center>
</div>


<script> 
  function Update(){
    var src = $("#task-form").serializeArray()
    var data = {}
    src.forEach((item) => {
      data[item.name] = item.value
    })
    data.done = $("#done").is(':checked')
    if( Valid()){
        $("#errors").text('')
        console.log("ok")
        $.ajax({ url: '/tasks/' + <%= @task.id %>,
           type: 'PUT',
           data: data,
           success: function(result){
             console.log(result)
             if(result.errors){
              $('#errors').text(result.errors)
             }
           }
		});
    }
    else 
      $("#errors").text("invalid data")
  }
  
  function Valid(){
      return( $("#title").val().length > 0 &&  $("#duedate").val().length > 0)

      
  }
</script>