<!DOCTYPE html>
<html>
  <head>
    <title>ToDo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  

  </head>
  <header>
  </header>

  <body>
    <% if @curent_user %>
      <a href='/log_out'>
      <div class="buttonLog" style='position:absolute; top:0; right:0;'>Log out</div>
      </a>
      
    <% end %>
    <%= yield %>
  </body>
<footer></footer>

</html>
